<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm">
    <div class="container">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="#pablo">Space Between Poker Server</a>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
</header>
