<h3>Your hand:</h3>

<script>
  const checkExchangeStatus = function(){
    var xhr = new XMLHttpRequest;
    var gameUrl = '/games/<%= gameId %>/allExchanged';

    xhr.open('GET', gameUrl);

    xhr.onload = function () {
      if (xhr.status !== 202) { // not pending
        document.location = '/games/<%= gameId %>/result';
      }
    };

    xhr.send();
  }

  setInterval(checkExchangeStatus, 1000);
</script>
