<h3>Your hand:</h3>

<script>
  const gameId = '<%= gameId %>';

  // Fetch the current users cards here from `/games/${gameId}/cards`



  const checkExchangeStatus = function(){
    $.ajax(`/games/${gameId}/allExchanged`).done(function(data, textStatus, xhr){
      if (xhr.status !== 202) { // not pending
        document.location = `/games/${gameId}/result`;
      }
    })
  }

  setInterval(checkExchangeStatus, 1000);
</script>
