<h3>Waiting for other players to join...</h3>

<p>Share the game ID <%= gameId %> with the other players so they can join this game.</p>

<script>
  const checkGameStatus = function(){
    var gameUrl = '/games/<%= gameId %>';
    $.ajax(gameUrl).done(function(data){
      if (data.indexOf('Waiting for other players') === -1) { // not pending
        document.location = gameUrl;
      }
    });
  }

  setInterval(checkGameStatus, 1000);
</script>
